.space-details{
    .modal-header{
        padding: 0;
        border: 0;
        button{
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 9;
        }
    }
    .modal-body{
        padding: 25px;
        overflow: hidden;
        .header{
            display: flex;
            .title{
                margin: 0 20px;
                h6{
                    margin: 0;
                }
                small{
                    color: #666;
                }
            }
            img{
                width: 50px;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                border-bottom: 1px solid #ccc;
                margin: 5px 0;
                padding: 5px 0;
                label{
                    width: 40%;
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
}